# SQLite databases
moul-local.db
moul-local.db-journal
moul-local.db-wal
moul-local.db-shm

# Binaries and templates
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
out/
tmp/*
!tmp/.gitkeep

# Go files
*.out
*.prof
go.work

# OS metadata
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE settings
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
